@model MVCWebshop.DAO.TestProducts_Entity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>TestProducts_Entity</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.PRODUCTID)
    
            <div class="form-group">
                @Html.LabelFor(model => model.PRODUCTNAME, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PRODUCTNAME)
                    @Html.ValidationMessageFor(model => model.PRODUCTNAME)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PRODUCTSTATUS, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PRODUCTSTATUS)
                    @Html.ValidationMessageFor(model => model.PRODUCTSTATUS)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UNITPRICE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UNITPRICE)
                    @Html.ValidationMessageFor(model => model.UNITPRICE)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UNITSINSTOCK, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UNITSINSTOCK)
                    @Html.ValidationMessageFor(model => model.UNITSINSTOCK)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
