@model IEnumerable<MVCWebshop.DAO.TestProducts_Entity>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="listGrid">
    	<thead>
    		<tr>
    					<th>
    				@Html.DisplayNameFor(model => model.PRODUCTNAME)
    			</th>
    					<th>
    				@Html.DisplayNameFor(model => model.PRODUCTSTATUS)
    			</th>
    					<th>
    				@Html.DisplayNameFor(model => model.UNITPRICE)
    			</th>
    					<th>
    				@Html.DisplayNameFor(model => model.UNITSINSTOCK)
    			</th>
    				<th>Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    	@foreach (var item in Model) {
    		<tr>
    					<td>
    				@Html.DisplayFor(modelItem => item.PRODUCTNAME)
    			</td>
    					<td>
    				@Html.DisplayFor(modelItem => item.PRODUCTSTATUS)
    			</td>
    					<td>
    				@Html.DisplayFor(modelItem => item.UNITPRICE)
    			</td>
    					<td>
    				@Html.DisplayFor(modelItem => item.UNITSINSTOCK)
    			</td>
    				<td>
    				@Html.ActionLink("Edit", "Edit", new { id=item.PRODUCTID }) |
    				@Html.ActionLink("Details", "Details", new { id=item.PRODUCTID }) |
    				@Html.ActionLink("Delete", "Delete", new { id=item.PRODUCTID })
    			</td>
    			</tr>
    	}
    	<tbody>
    </table>
    
    @section scripts {
    <script type="text/javascript">
    	$(document).ready(function () {
    		$("#listGrid").wijgrid({ allowSorting: true, allowPaging: true, pageSize: 20});
    	});
    </script>
    }
</body>
</html>
